    @import "tokyonight.css";
    /*   CHANGE IMPORT TO CHANGE THEME */

    * {
    font-size: 1.2rem;
    font-family: "RobotoMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;
    }

    window#waybar {
        background: @main-bg;
        margin: 2px;
        padding-left: 10px;
    }


    tooltip {
  background: @main-bg;
  border: 1.5px solid @main-br;
  border-radius: 8px;
    }

    tooltip label {
  color: @main-fg;
  margin: -1.5px 3px;
    }

    #workspaces button {
  color: @module-fg;
  border-radius: 4px;
  box-shadow: none;
  margin: 2px 4px;
  padding: 0 2px;
  transition: none;
    }

    #workspaces button.active {
  color: @active-fg;
  background: @active-bg;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  margin: 2px;
  padding: 0 6px;
    }


    #workspaces, #window, #custom-cpuinfo, #memory, #cpu, #clock, #backlight, #custom-wifi, #bluetooth, #custom-update, #pulseaudio, #battery {
    opacity: 1;
    color: @module-fg;
    padding: 0 4px;
    }

    #custom-cpuinfo {
  background: @cpuinfo-bg;
  color: @cpuinfo;
  padding: 0 0 0 1px;
    }

    #cpu {
    background: @cpu-bg;
    color: @cpu;
    }

    #cpu:hover {
    color: @hover-fg;
    }

    #clock {
     background: @clock-bg;
     color: @clock;
     padding: 0 3px 0 0;
    }

    #custom-wifi {
    background: @wifi-bg;
     padding: 0 8px 0 5px;
    }

    #custom-wifi:hover {
    color: @hover-fg;
    }

    #bluetooth {
    background: @tray;
    padding-right: 5px;
    }

    #bluetooth:hover {
    color: @hover-fg;
    }

    #custom-update {
    padding-right: 8px;
    background: @tray;
    }

    #custom-update:hover {
    color: @hover-fg;
    }

    #pulseaudio {
    background: @pulseaudio-bg;
    color: @pulseaudio;
    }   

    #pulseaudio:hover {
     color: @hover-fg;
    }

    #battery {
    color: @battery;
    background: @battery-bg;
    }
